<body class="autoForm-body">
  <div class="auto-form">
    <h1>Añade la información de tu auto</h1>
    <img src="https://cdn.dribbble.com/users/146798/screenshots/4834972/bmw.png" alt=" M3.png">
    <form id="autoFormVehicle" action="/autoForm" method="POST">
      <div>
        <label id="tipo" for="tipo">Selecciona el tipo de auto</label> <br>
        <select id="tipo" name="tipo">
          <option value="SUV">SUV</option>
          <option value="Sedán">Sedán</option>
          <option value="Compacto">Compacto</option>
          <option value="Pick-up">Pick-up</option>
        </select>
      </div>
      <div>
        <input id="tipo" type="text" name="marca" placeholder="Marca de su vehículo">
      </div>
      <div>
        <input id="tipo" type="text" name="modelo" placeholder="Modelo de su vehículo">
      </div>
      <div>
        <input id="send-button" type="submit">
      </div>
      <a href="/profile">Volver a Home</a>
    </form>
  </div>
</body>