<body>
<div>
  <h1>Completa la información de tu auto</h1>
  <form action="/autoForm" method="POST">
    <label for="tipo">Selecciona el tipo de auto</label>
    <select id="tipo" name="tipo">
      <option value="SUV">SUV</option>
      <option value="Sedán">Sedán</option>
      <option value="Compacto">Compacto</option>
      <option value="Pick-up">Pick-up</option>
    </select>
    <label for="marca">Ingrese la marca de su vehículo</label>
    <input type="text" name= "marca">
    <label for="modelo">Ingrese el modelo de su vehículo</label>
    <input type="text" name= "modelo">
    <input type="submit">
  </form>
</div>
<a href="/profile">Volver a Home</a>
</body>
