<p>¿Desea cambiar algún servicio?</p>
<a href="/profile">Volver a Home</a>
<div>
  <form action="/editOrder/{{_id}}" method="POST">
    <label for="limpiezaCarroceria">Limpieza de Carrocería</label>
    <select id="limpiezaCarroceria" name="limpiezaCarroceria">
      <option value="Sí">¡Sí quiero!</option>
      <option value="No">¡No, gracias!</option>
    </select><br>
    <label for="limpiezaRines">Limpieza de rines</label>
    <select id="limpiezaRines" name="limpiezaRines">
      <option value="Sí">¡Sí quiero!</option>
      <option value="No">¡No, gracias!</option>
    </select><br>
    <label for="lavadoMotor">Limpieza de motor</label>
    <select id="lavadoMotor" name="lavadoMotor">
      <option value="Sí">¡Sí quiero!</option>
      <option value="No">¡No, gracias!</option>
    </select><br>
    <label for="limpiezaVestiduras">Limpieza de vestiduras</label>
    <select id="limpiezaVestiduras" name="limpiezaVestiduras">
      <option value="Sí">¡Sí quiero!</option>
      <option value="No">¡No, gracias!</option>
    </select><br>
    <label for="descontaminanteCristales">Descontaminante de Cristales</label>
    <select id="descontaminanteCristales" name="descontaminanteCristales">
      <option value="Sí">¡Sí quiero!</option>
      <option value="No">¡No, gracias!</option>
    </select><br>
    <label for="pulidoFaros">Pulido de Faros</label>
    <select id="pulidoFaros" name="pulidoFaros">
      <option value="Sí">¡Sí quiero!</option>
      <option value="No">¡No, gracias!</option>
    </select><br>
    <label for="lavadoChasis">Lavado de Chasis</label>
    <select id="lavadoChasis" name="lavadoChasis">
      <option value="Sí">¡Sí quiero!</option>
      <option value="No">¡No, gracias!</option>
    </select><br>
    <label for="encerado">Encerado</label>
    <select id="encerado" name="encerado">
      <option value="Sí">¡Sí quiero!</option>
      <option value="No">¡No, gracias!</option>
    </select><br>
    <label for="aspirado">Aspirado</label>
    <select id="aspirado" name="aspirado">
      <option value="Sí">¡Sí quiero!</option>
      <option value="No">¡No, gracias!</option>
    </select><br>
    <input type="submit">
  </form>

</div>