<h2>Ingresa tu usuario</h2>

<form action="/loginUser" method="POST">
  <label name="email">Email</label>
  <input type="text" name="email"> <br><br>
  <label name="password">Contraseña</label>
  <input type="password" name="password"><br><br>
  <input type="submit" value="Login">
</form>

<a href="/">Regresar al home</a>