<body class="register-login">
  <div class="signup">
    <h1>Ingresa tu usuario</h2>
      <form action="/login" method="POST">
        <div>
          <input type="text" name="email" placeholder="E-mail">
        </div>
        <div>
          <input type="password" name="password" placeholder="contraseña">
        </div>
        <div>
          <input id="app-button" type="submit" value="Login">
        </div>
      </form>
  </div>
</body>