<h1>Tu perfil</h1>

<p>Tu nombre</p>

<section>
  <div>
    <a href="/chambitasMecanicos">Servicios de mecánica automotriz</a>
  </div>
  <div>
    <a href="/chambitasLimpieza">Sevicios de limpieza del hogar</a>
  </div>
  <div>
    <a href="/chambitasPlomeros">Servicios de Plomería</a>
  </div>

</section>
<a href="logout">Logout</a>