<h1>Bienvenido{{this.name:req.user.name}}</h1>
<a href="detailOrder">Detalle de órdenes</a>
<a href="autoForm">Añadir Auto</a>
<a href="autoDetail">Administrar tus autos</a>
<a href="logout">Logout</a>