<body class="profile-body">
  <section class="profile">
    <h1>Bienvenido{{name:req.user.name}}</h1>
    <img src="https://i.pinimg.com/originals/ac/54/4c/ac544c2edfd4c2acbbd528a309188fc7.jpg" alt="VW-Sedan">
    <div>
      <a href="detailOrder">Detalle de órdenes</a>
    </div>
    <div>
      <a href="autoForm">Añadir Auto</a>
    </div>
    <div>
      <a href="autoDetail">Administrar tus autos</a>
    </div>
    <div>
      <a href="profileEdit">Edita tu perfil</a>
    </div>
    <div>
      <a href="logout">Logout</a>
    </div>
  </section>
</body>