<h2>Regístrate</h2>

<form action="/signup" method="POST">
  <label name="">Nombre</label>
  <input type="text" name="name"> <br><br>
  <label name="">Email</label>
  <input type="text" name="email"> <br><br>
  <label name="">Contraseña</label>
  <input type="password" name="password"><br><br>
  <input type="submit" value="Sign up!">
</form>