<form action="/signupWorker" method="POST">
  <label name="name">Nombre</label>
  <input type="text" name="name"> <br><br>
  <label name="email">Email</label>
  <input type="text" name="email"> <br><br>
  <label name="password">Contraseña</label>
  <input type="password" name="password"><br><br>
  <input type="chambedor" name="chambeador" value='true' hidden>
  <input type="submit" value="Sign Up!">
</form>