<form action="/signupWorker" method="POST">
  <label name="name">Nombre</label>
  <input type="text" name="name"> <br><br>
  <label name="email">Email</label>
  <input type="text" name="email"> <br><br>
  <label name="password">Contraseña</label>
  <input type="password" name="password"><br><br>
  <select name="sector" id="sector">
    <option value="Mecánico">Mecánico</option>
    <option value="Plomero">Plomero</option>
    <option value="Labores Domésticas">Labores Dométicas</option>
  </select>
  <input type="submit" value="Sign Up!">
</form>