<body class="register-login">
  <div class="signup">
  <h1>Crea tu cuenta!</h1>
<form action="signup" method="POST">
  <div>
  <input type="text" name="name" placeholder="Nombre">
  </div>
  <div>
  <input type="text" name="email" placeholder="E-mail">
  </div>
  <div>
  <input type="password" name="password" placeholder="Contraseña">
  </div>
  <div>
  <input id="app-button" type="submit" value="Regístrate!">
  </div>
</form>
</div>
</body>
