<form action="/workerForm" method="POST"></form>
<label for="limpiezaCarroceria">Limpieza de carrocería</label>
  <select name="cars">
    <option value= true >Si quiero!</option>
    <option value= false >No, gracias!</option>
  </select>
  <input type="submit">
</form>





{{!-- <form action="/workerForm" method="POST">
 <label for="cars">Choose a car:</label>
  <select name="limpiezaCarroceria" id="sector">
    <option value="Si quiero!">Si quiero!</option>
    <option value="No, gracias!">No, gracias!</option>
  </select>
    <select name="limpiezaRines" id="sector">
    <option value="Si quiero!">Mecánico</option>
    <option value="No, gracias!">Plomero</option>
  </select>
    <select name="lavadoMotor" id="sector">
    <option value="Si quiero!">Mecánico</option>
    <option value="No, gracias!">Plomero</option>
  </select>
    <select name="limpiezaVestiduras" id="sector">
    <option value="Si quiero!">Mecánico</option>
    <option value="No, gracias!">Plomero</option>
  </select>
    <select name="descontaminanteCristales" id="sector">
    <option value="Si quiero!">Mecánico</option>
    <option value="No, gracias!">Plomero</option>
  </select>
      <select name="pulidoFaros" id="sector">
    <option value="Si quiero!">Mecánico</option>
    <option value="No, gracias!">Plomero</option>
  </select>
      <select name="lavadoChasis" id="sector">
    <option value="Si quiero!">Mecánico</option>
    <option value="No, gracias!">Plomero</option>
  </select>
      <select name="encerado" id="sector">
    <option value="Si quiero!">Mecánico</option>
    <option value="No, gracias!">Plomero</option>
  </select>
   <select name="aspirado" id="sector">
    <option value="Si quiero!">Mecánico</option>
    <option value="No, gracias!">Plomero</option>
  </select>

  <textarea name="description" id="description" cols="30" rows="10">Tienes alguna instrucción especial? Déjalas aquí.</textarea>
  <input type="submit" value="Sign Up!">
</form> --}}