<form action="/workerForm" method="POST">
  <select name="sector" id="sector">
    <option value="Mecánico">Mecánico</option>
    <option value="Plomero">Plomero</option>
    <option value="Labores Domésticas">Labores Domésticas</option>
  </select>

  <textarea name="description" id="description" cols="30" rows="10">Describe tu chambita</textarea>
  <input type="submit" value="Sign Up!">
</form>