<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<p>Regístrate para obtener un excelente servicio de autolavado a domiciliio!</p>

<a href="/signupWorker">Regístrate</a>
<a href="/loginWorker">Inicia Sesión</a>