<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>¿Requieres de alguna chamba? Conéctate con personas dispuesta a hacer alguna chambita</p>
<a href="/signup">Registrate</a>

<a href="/loginUser">Inicia Sesión</a>


<p>¿Buscas hacer chambitas? ¡Regístrate como Chambeador!</p>

<a href="/signupWorker">Regístrate</a>
<a href="/loginWorker">Inicia Sesión</a>