.body-welcome {
  margin-top: 60px;
  font: 14px 'Roboto', Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #f0ebeb;
  background-image: url(https://cdn.dribbble.com/users/2351/screenshots/3556242/lubelski-dj-graphics-2x.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

a {
  font-size: 22px;
  display: inline-block;
  padding: 0.35em 2.5em;
  border: 0.1em solid white;
  margin: 0 0.3em 0.3em 0;
  border-radius: 8px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
  transition: all 0.5s;
  background-color: #e15c50; }

a:hover {
  color: #ffff;
  background-color: #ff7b08; }

.welcome-box {
  background-color: #e15c50;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 0px 20px;
  text-align: center;
  flex-wrap: wrap; }

.welcome-box h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px; }

.welcome-box p {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  font-size: 22px;
  margin-bottom: 15px;
  font-family: 'Pacifico', cursive;
  font-family: 'Source Code Pro', monospace; }

.welcome-box img {
  height: 330px;
  transform: scaleX(-1); }

.register-login {
  background-image: url(https://es.screenja.com/static/img/thumbs/instagram-gradient-background-1-normal-636.png);
  background-size: cover;
  background-repeat: no-repeat; }

.signup {
  margin: 150px 0px;
  display: flex;
  flex-direction: column;
  text-align: center; }

.signup div {
  margin: 15px; }

.signup div input {
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  width: 280px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 0px; }

#app-button {
  background-color: #ff9336; }

.signup h1 {
  font-family: 'Pacifico', cursive;
  font-size: 64px;
  color: black; }

.profile-body {
  background-color: #f6f6f6; }

.profile {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.profile img {
  width: 360px; }

.profile div a {
  width: 360px; }

.profile h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  margin: 0px; }

.autoForm-body {
  background-color: #ebecf4; }

.auto-form {
  margin-top: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column; }

.auto-form img {
  width: 380px; }

.auto-form h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  margin: 0px; }

.auto-form div {
  margin: 20px;
  font-family: 'Baloo Paaji 2', cursive; }

.autoForm-body div input {
  width: 320px;
  font-size: 24px; }

#send-button {
  font-size: 22px;
  display: inline-block;
  padding: 0.35em 2.5em;
  border: 0.1em solid white;
  margin: 0 0.3em 0.3em 0;
  border-radius: 8px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
  transition: all 0.5s;
  background-color: #e15c50; }

#send-button:hover {
  color: #ffff;
  background-color: #ff7b08; }

#tipo {
  font-family: 'Baloo Paaji 2', cursive;
  font-size: 20px; }

#autoFormVehicle {
  border: 3px solid #e15c50;
  border-radius: 8px; }

.profile-edit-body {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6; }

.profile-edit-body h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  margin: 0px; }

.profile-edit-body div {
  margin-top: 0px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column; }

.profile-edit-body img {
  height: 200px;
  margin-bottom: 30px; }

.profile-edit-body div input {
  border-radius: 8px;
  margin: 8px;
  font-family: 'Baloo Paaji 2', cursive;
  font-size: 24px; }

#profile-edit-box {
  border: 3px solid #e15c50;
  border-radius: 8px;
  padding: 20px; }

.order-detail-view-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5px;
  position: absolute; }

.order-detail-view-body div {
  text-align: left;
  display: flex;
  flex-direction: column; }

.order-detail-view-body h1 {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  margin: 0px; }

.order-detail-view-body p {
  margin: 3px;
  padding: 0px; }

.order-detail-container {
  border: 3px solid #e15c50;
  border-radius: 8px;
  padding: 20px;
  font-family: 'Baloo Paaji 2', cursive;
  font-size: 24px; }

.auto-admin {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }

#selecciona-auto {
  display: flex;
  flex-direction: column;
  align-items: center; }

#selecciona-auto a {
  width: 380px; }

.auto-admin a {
  width: 380px; }

.auto-admin h1 {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  margin: 0px; }

.auto-admin p {
  font-family: 'Baloo Paaji 2', cursive;
  font-size: 30px;
  margin: 10px; }

.cleaning-order {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }

.service-order-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4em;
  border: 3px solid #e15c50;
  margin: 0 30px;
  padding: 0 15px; }

/*# sourceMappingURL=style.css.map */