.body-welcome {
  margin-top: 60px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #f0ebeb;
  background-image: url(https://cdn.dribbble.com/users/2351/screenshots/3556242/lubelski-dj-graphics-2x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


a {
  font-size: 22px;
  display: inline-block;
  padding: .35em 2.5em;
  border: 0.1em solid white;
  margin: 0 0.3em 0.3em 0;
  border-radius: 8px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
  transition: all 0.5s;
}

a:hover {
  color: #FFFF;
  background-color: #ff7b08;
}

.welcome-box{
  background-color: #e15c50;
align-items: center;
display: flex;
flex-direction: column;
border: 1px solid black;
border-radius: 8px;
padding: 0px 20px;
}

.welcome-box h1{
  margin: 20px;
  font-family: 'Pacifico', cursive;
  font-size: 86px;
}

.welcome-box p{
  font-size: 22px;
  margin-bottom: 15px;
  font-family: 'Pacifico', cursive;
font-family: 'Source Code Pro', monospace;
}

.welcome-box img{
  height: 360px;
  transform: scaleX(-1);
}

.register-login{
  background-image: url(https://es.screenja.com/static/img/thumbs/instagram-gradient-background-1-normal-636.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.signup {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.signup div{
  margin: 15px;
}

.signup div input{
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  width: 280px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 0px;
}

#app-button{
  background-color: #ff9336;
}

.signup h1{
  font-family: 'Caveat', cursive;
  font-size: 64px;
  color: black;
}